/*
code change CSS color
https://spacejelly.dev/posts/how-to-create-css-custom-properties-that-dynamically-update-with-react-javascript/
*/

:root {
    --background-color: #62656a;
    --font-color: #f5f5f5;
    --line-color: #ffffff;
    --image-border: #f5f5f5;
    --image-background: #f0f8ff;
    --tl-title-color: #ffffff;
    --tl-subtitle-color: #ffffff;
    --card-color: #252526;
}

.main-body {
    background-color: var(--background-color);
    padding: 10px;
}

.root {
    color: var(--font-color);
}

.base-line {
    background-image: linear-gradient(
        var(--line-color),
        var(--line-color)
    );
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.eventComp {
    border-radius: 8px;
    padding: 6px;
    max-width: 80%;
    min-width: 25%;
}

.eventIcon {
    border-radius: 8px;
    min-width: 150px;
    max-width: 150px;
    border: 1px solid var(--image-border);
    background-color: var(--image-background);
    box-shadow: 0px 10px 9px 0px;
    z-index: 100;
}

.eventText {
    text-align: justify;
}

small {
    font-size: 0.70rem !important
}

.eventIcon-left {
    position: relative;
    float: left;
    margin-right: 10px;
}

.eventIcon-right {
    position: relative;
    float: right;
    margin-left: 10px;
}

.event-edit-control-group-bg {
    background-color: var(--line-color);
    min-width: 42px;
    max-width: 42px;
    padding-top: 4px;
    padding-bottom: 25px;
    /* opacity: 50%; */
}

.event-edit-control-group-bg-right {
    border-bottom-right-radius: 50px;
    position: relative;
    left: -12px;
}

.event-edit-control-group-bg-left {
    border-bottom-left-radius: 50px;
}

.col-edit-left {
    display: flex;
    left: 22px;
    position: sticky;
    justify-content: flex-end;
    align-items: flex-start;
}

.event-edit-control-group {
    text-align: center;
}

.spacer-bottom {
    margin-bottom: 4px;
}

.spacer-left {
    background-color: #ffffff00;
    min-height: 13px;
    min-width: 40px;
    float: none;
}

.spacer-right {
    background-color: #ffffff00;
    min-height: 20px;
    min-width: 40px;
    float: left;
}

.title-config {
    color: var(--tl-title-color);
}

.subtitle-config {
    color: var(--tl-subtitle-color);
}

.title {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    margin-bottom: 30px;
}

.title-edit {
    border-style: dashed;
    border-width: 1px;
}

.title-edit:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.title-input {
    width: 100%;
    background-color: var(--background-color);
}

.expand-config {
    color: #252526;
    background-color: white;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15px;
    right: 0;
}

.expand-config:hover {
    filter: brightness(85%);
    cursor: pointer;
}

.quarter-circle-top-left{
    width: 100px;
    background-image: linear-gradient(
        to right,
        var(--background-color),
        var(--card-color));
    border-radius: 0 0 75px 0;
    -moz-border-radius: 0 0 75px 0;
    -webkit-border-radius: 0 0 75px 0;
}
.quarter-circle-top-right{
    width: 100px;
    background-image: linear-gradient(
        to left,
        var(--background-color),
        var(--card-color));
    border-radius: 0 0 0 75px;
    -moz-border-radius: 0 0 0 75px;
    -webkit-border-radius: 0 0 0 75px;
}

#item-left {
    border-right: 2px solid var(--line-color);
    text-align: -webkit-right;
}

#item-right {
    border-left: 2px solid var(--line-color);
    text-align: start;
}
