.App-link {
  color: #61dafb;
}

.base-line {
    background-image: linear-gradient(white, white);
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.eventComp {
    /* border: 1px solid lightsteelblue; */
    border-radius: 8px;
    padding: 6px;
    max-width: 80%;
    min-width: 25%;
}

.eventIcon {
    /* border-radius: 50%; */
    border-radius: 8px;
    min-width: 150px;
    max-width: 150px;
    /* border: 5px solid lightsteelblue; */
    /* border: 5px solid #62656a; */
    border: 1px solid whitesmoke;
    background-color: aliceblue;
    box-shadow: 0px 10px 9px 0px;
    z-index: 9;
}

.eventText {
    text-align: justify;
    /* font-size: large; */
}

small {
    font-size: 0.70rem !important
}

.eventIcon-left {
    position: relative;
    /* top: -75px; */
    /* left: -316px; */
    float: left;
    margin-right: 10px;
}

.eventIcon-right {
    position: relative;
    /* top: -75px; */
    /* left: 318px; */
    float: right;
    margin-left: 10px;
}

.spacer-left {
    background-color: #ffffff00;
    min-height: 6px;
    min-width: 40px;
    float: none;
}

.spacer-right {
    background-color: #ffffff00;
    min-height: 1px;
    min-width: 40px;
    float: left;
}

.GuideLine {
    position: absolute;
    width: 20px;
    height: 100%;
}

.Root {
    /* background-color: rgb(145, 145, 145); */
    color: whitesmoke;
}

.center {
    text-align: center;
}

.title {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    margin-bottom: 30px;
}

.quarter-circle-top-left{
    width: 100px;
    /* height: 100px; */
    /* background: red; old color #282c34*/
    background-image: linear-gradient(to right, #62656a, #252526);
    border-radius: 0 0 75px 0;
    -moz-border-radius: 0 0 75px 0;
    -webkit-border-radius: 0 0 75px 0;
}
.quarter-circle-top-right{
     width: 100px;
     /* height: 100px; */
     /* background: blue; old color #282c34*/
     background-image: linear-gradient(to left, #62656a, #252526);
     border-radius: 0 0 0 75px;
     -moz-border-radius: 0 0 0 75px;
     -webkit-border-radius: 0 0 0 75px;
}
.quarter-circle-bottom-left{
     width: 100px;
     height: 100px;
     background: green;
     border-radius: 0 75px 0 0;
     -moz-border-radius: 0 75px 0 0;
     -webkit-border-radius: 0 75px 0 0;
}
.quarter-circle-bottom-right{
     width: 100px;
     height: 100px;
     background: orange;
     border-radius: 75px 0 0 0;
     -moz-border-radius: 75px 0 0 0;
     -webkit-border-radius: 75px 0 0 0;
}

#item-left {
  border-right: 2px solid white;
  /* text-align: right; */
  text-align: -webkit-right;
}

#item-right {
    border-left: 2px solid white;
    text-align: start;
}
